<div class="flex flex-col mainDiv">
  <div
    class="p-4 bg-gradient-to-br from-blue-50 to-indigo-100 rounded-xl shadow-lg w-full flex-1 flex flex-col min-h-0"
  >
    <div class="flex items-center justify-start gap-x-4 mt-2 pb-[12px]">
      <div class="card flex justify-center">
        <div class="flex flex-col gap-2">
          <label for="username">Data code here:</label>
          <input
            class="border-2 border-indigo-300 rounded-lg focus:outline-none focus:border-indigo-500 p-[5px]"
            pInputText
            id="username"
            [(ngModel)]="dataCode"
            (ngModelChange)="onDataCodeChange($event)"
          />
          <small id="username-help"
            >Enter the data code being shown on the send tab.</small
          >
        </div>
      </div>
      <p-button
        (onClick)="receiveData()"
        label="Get data"
        icon="pi pi-download"
        [disabled]="isLoading || dataCode.length == 0"
        iconPos="right"
      />
      @if(hasError){
      <div class="text-sm text-red-700">
        <span class="font-medium text-gray-700">Error:</span>
        <span class="ml-2 px-2 py-1 bg-gray-100 rounded">{{ errorMsg }}</span>
      </div>
      } @if(hasSuccess){
      <div class="text-sm text-gray-700">
        <span class="font-medium text-gray-700">Message:</span>
        <span class="ml-2 px-2 py-1 bg-gray-100 rounded"
          >Data found successfully for the data-code:{{ dataCode }}</span
        >
      </div>
      }
    </div>
    <div class="relative mb-2 flex-1 min-h-0 flex flex-col gap-y-4">
      <p-button
        *ngIf="hasSuccess"
        (onClick)="copyText()"
        [label]="copyButtonLabel"
        [icon]="copyButtonIcon"
        size="small"
        icon="pi pi-copy"
        [disabled]="isLoading || !hasSuccess"
        iconPos="right"
        styleClass="copy-btn"
      />
      <ng-container *ngIf="!isLoading">
        <textarea
          [(ngModel)]="receivedData"
          [readOnly]="true"
          [disabled]="isLoading"
          class="w-full h-full p-3 border-2 border-indigo-300 rounded-lg focus:outline-none focus:border-indigo-500 transition-colors bg-white shadow-sm hover:shadow-md resize-none"
          placeholder="No data to show, enter a valid data code first"
        ></textarea>
      </ng-container>

      <ng-container *ngIf="isLoading">
        <div
          class="w-full h-full flex items-center justify-center bg-white rounded-lg shadow-sm"
        >
          <div class="loader" aria-label="Loading animation"></div>
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
